@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* header section start */
header{
    min-height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/lion.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
header .banner-img{
    position: absolute;
    left: 0;
    bottom: 0;
}
header .banner-img img{
    width: 80%;
}
header .banner-text{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
header .title{
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 4rem;
    color: rgba(255, 94, 25, 1);
}
header .description{
    color: rgb(196, 193, 193);
    margin-top: 1.5rem;
}
/* header section end */
/* main section start */
main{
    background-color: rgb(21, 21, 21);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: 5rem;
    /* grid-gap: 1rem; */
}
.players{
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.player{
    background-color: rgba(13, 13, 13, 1);
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}
.player img{
    width: 100%;
}
.player-name{
    margin: 1rem 0;
}
.career small{
    margin: 0 1rem;
    color: rgb(190, 190, 190);
}
.select-btn{
    padding: 8px 35px;
    cursor: pointer;
    background-color: rgba(1, 81, 150, 1);
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: .1rem;
    margin-top: .8rem;
}
.menu{
    padding-top: 5rem;
    color: rgb(173, 173, 173);
    width: 100%;
}
.menu h3{
    color: white;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.side-btn{
    padding: 8px 35px;
    cursor: pointer;
    background-color: rgba(1, 81, 150, 1);
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: .1rem;
    margin-top: .8rem;
}
#selected, #budget{
    background-color: rgba(13, 13, 13, 1);
    padding: 2rem;
    margin-left: -5rem;
    width: 80%;
    margin-bottom: 2rem;
}
#budget label{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
#budget label input{
    border: 1px solid rgb(180, 180, 180);
    background-color: transparent;
    width: 100px;
    height: 30px;
    color: rgb(255, 251, 251);
}
.orange-text{
    color: rgba(255, 94, 25, 1);
}
/* main section ends */
/* footer start */
footer{
    background-color: rgb(21, 21, 21);
    color: rgb(190, 187, 187);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer ends */